html {
    height: 100vh;
}
  
body {
    height: 500vh;
    background: #000;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    z-index:-1; 

}

::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}


a {
    text-decoration: none;
}



.gp1l {
    float:left;

    color:white;
    width: 30%;
    padding-left: 20px;
    margin: 50px;
}

.gp1r {
    line-height: 2;
    float:right;
    text-align: right;

    color:white;
    width: 30%;
    padding-right: 20px;
    margin: 50px;
}

.resumehighlight {
    color: green;
}
