body {
    background-position: center top;

    background-size: cover;

    background-repeat: repeat;
    background-image: url('images/ine_background.png');
    font-family: inter;
    color: #313130;
    min-width: 1010px;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #313130;
}

.footer a {
    bottom: 0;
    margin-bottom: 10px;

    margin: auto;

    text-align: center;
    color: #898578;
}

.main-lane {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;

}


.pp-popup {
    background-color: #FBF5E7;

    padding: 25px;
    padding-top:0px;

    margin-bottom: 50px;

    border-style: solid;
    border-width: 5px;
    border-color: #313130;
    border-radius: 30px;

    width: 100%;
    box-shadow: 12px 12px #313130;
}


.oldmain {
    
    /* unused! i hope. this version sucked */

    width: 100%;
    height: 500px;
    background-image: url('images/ine_popup.png');
    background-repeat: no-repeat;
    background-size: cover;


    box-sizing:content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /* 
    Careful with these paddings! They're manually set so that the text stays in the background image. 
    Yes, this is bad practice. Sorry, mobile users.
    - past Bowie
    */

    padding: 25px;

    margin-bottom: 80px;
}

.pp-popup.untitled {
    
    /* unused! i hope. this version sucked */

    background-image: url('images/ine-untitled-popup.png');
}

.pp-title {
    margin-top:25px;
    
    font-size:30px;
    
    text-align: center;
    width: 100%;
    height: 60px;
    letter-spacing: 1px;

}

.pp-main {
    font-size: 20px;
    overflow: hidden;
}

.pp-main img {
    border: 3px inset #F5EAD4;
    border-width: 10px;
}

.pp-main .righty {
    float:right;
    margin-left: 10px;
}

.pp-main .lefty {
    float:left;
    margin-right: 10px;
}


.img-gallery {
    display:flex; 
    justify-content:space-evenly; 
    padding-top: 15px;
}

.img-gallery img {
    max-height: 100%;
}





.titler{
    position: relative;
    width: 100%; 
    margin: auto;
    z-index: -1; /* this is like this because it used to cover up the icons on the side. */
}

.big-title {
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 60px;
}

.bg-image {
    position: absolute;
    margin:auto;
    width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Adjust the opacity */
    z-index: -1; /* Keep it behind other content */
}



/* home page stuff */

.top-display {
    width: 95%;
    /* this is bc the imagery gives the appeance of an offset if it's truly centered */
    display: flex;
}


.name-header {
    font-size: 50px;
    font-weight: bold;
}

.header-left {  
    text-align: center;
    width: 50%;


}
.header-right {
    width: 50%;
    padding: 10px;
}

.header-menu{
    
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    margin-top: 50px;

    gap: 20px;
}

.header-menu .box {
    position: relative;
    padding-top: 20px;

    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    background-color: #F2D3D0;
    box-shadow: #373631 5px 5px;
}

.header-menu .box:hover {
    background-color: rgb(202, 176, 173);
}

.header-menu .box img {
    padding-top: 20px;
    height:130px;
}

.header-menu .box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures the link is on top */
}





.icon-stack {
    position:absolute;
    float: left;
    width: 80px;
}

.icon-stack-spread {
    padding: 5px;
    height: 100%;

    img {
        height: 80px;
    }
}

.icon-stack-spread :hover {
    padding-left: 10px;
}

.project-github-icon {
    height:auto;
    padding-right: 5px;

}

.project-github-icon img {
    height: 67px;
    width: 67px;
    border-width: 0px;
}



/* construction stuff */

.under-construction {
    
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}


/* unused */
.video-insert {

    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

/* Portfolio page stuff */

.split {
    width: 50%;
    text-align: left;
    

    padding-top: 10px;

    .toptitle {
        text-align: center;
        font-size: 24px; 
        font-weight: bold;
    }

    .fav {
        list-style-type: "⭐ ";
    }

    ul {
        margin-top: 5px;
    }
    li {
        margin-top: 3px;
        font-weight: 900;
        
    }
    i {
        font-weight: 100;
    }
}

figure {

    flex-flow: column;
    padding: 5px;
    margin: auto;
    text-align: center;

}

figcaption {
    font: italic smaller sans-serif;
    overflow: hidden;
    text-align: center;
}

.cornernav {
    position: absolute;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url("images/bowie-icon.png");
    background-size: cover;

    
}



/* BELOW IS UNUSED */
.mini-menu-wrapper{


    position:absolute;
    float: left;

}

.mini-menu{
    position: absolute;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 170px;
    width: 170px;
    background-color: red;
    .box {
        a {
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        
        img {
            
            margin: auto;
            height:50px;

        }

        padding-top: 7px;
        border-radius:10px;
        display:flex;
        font-size: smaller;
        text-align: center;
        background-color: #F2D3D0;
        box-shadow: #373631 5px 5px;
    }
  
  }
/* ABOVE IS UNUSED */


/* Beyond stuff */

.centered {
    margin:auto;
    width: 100%;
    text-align:  center;
}

.beyond-list-wrapper {
    width: 80%;
    margin: auto;
    border-style: outset;
    border-width: 5px;
    border-radius: 50px;
}
.beyond-list {

    font-size: xx-large;


}

.beyond-list li {
    list-style-type: "";
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;

    align-items: center; /* Align vertical */
    img {
        height: 80px;
        padding-right: 30px;
    }
}

.beyond-list :hover {
    text-shadow: 2px 2px rgb(168, 168, 168);

}


/* BowAI stuff */

.response-display {
    margin-left: 5px;
    margin-right: 5px;
    margin:auto;

    background-color: #FBF5E7;
    
    margin-bottom: 10px;
    height: 300px;
    width: 100%;

    border-style: solid;
    border-width: 3px;
    
    border-radius: 30px;

    padding: 15px;
    padding-left: 20px;
    font-size: 20px;
}

.input-display {
    
    margin-left: 5px;
    margin-right: 5px;

    background-color: #ede7db;
    
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;

    border-style: solid;
    border-width: 3px;
    
    border-radius: 30px;
    
    padding: 15px;

    margin-top: 20px;
    font-size: 20px;
}

.input-display textarea {
    width: 100%;
    height: 86px;
    min-height: 26px;
    max-height: 128px;
    

    max-width: 100%;
    min-width: 100%;


    padding-left: 5px;

    background: transparent;
    font-family: inter;
    font-size: 20px;

    border-width: 0;
    outline: none;
    box-shadow: none;
}







@media (max-width: 1200px) {
    .name-header {
        font-size: 43px;
    }
}

@media (max-width: 1000px) {
    .beyond-body {
        height: 200vh;
    }
}

@media screen and (max-width : 1920px){
    .mobile-warning{
        display:none
    }
  }

@media screen and (max-width : 906px){
   .mobile-warning{
        display:none
    }
  }

