body {
    background-position: center top;

    background-repeat: repeat-y;
    background-size: cover; 
    background-position: top center; 
    background-image: url('images/ine_background.png');
    font-family: inter;
    color: #313130;
    min-width: 1010px;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #313130;
}

.footer a {
    font-size: 15px;
    bottom: 0;
    margin-bottom: 10px;

    margin: auto;

    text-align: center;
    color: #898578;
}

.main-lane {
    width: 80%;
    max-width:1000px;
    margin: auto;
    padding-bottom: 100px;

}


.pp-popup {
    background-color: #FBF5E7;

    padding: 25px;
    padding-top:0px;

    margin-bottom: 50px;

    border-style: solid;
    border-width: 5px;
    border-color: #313130;
    border-radius: 30px;

    width: 100%;
    box-shadow: 12px 12px #313130;
}

.pp-title {
    margin-top:25px;
    
    font-size:30px;
    
    text-align: center;
    width: 100%;
    height: 60px;
    letter-spacing: 1px;

}

.pp-main {
    font-size: 20px;
    overflow: hidden;
}

.pp-main .softcorner {
    border-color: #313130;
    border-width: 0px;
    border-radius: 30px;
}

.pp-main .sharpcorner {
    border-color: #313130;
    border-width: 5px;
    border-style: solid;
    border-radius: 0px;
}

.pp-main .righty {
    float:right;
    margin-left: 20px;
}

.pp-main .lefty {
    float:left;
    margin-right: 20px;
}

.minifooter {
    margin-top:45px; 
    font-size: 18px; 
    text-align: right;
}

.project-github-icon {
    float: left;
}

.project-github-icon img {
    height: 70px;
    width: 70px;
    border-width: 0px;
    float: left;
}




.img-gallery {
    display:flex; 
    justify-content:space-evenly; 
    padding-top: 15px;
    max-width: 100%;
    height: 300px; 
    padding-top: 25px;
}

.img-gallery img {
    max-height: 100%;
    flex-shrink: 1;
    border-radius: 30px;
    min-width: 0; /* Fixes some Flexbox shrinking issues */
    object-fit: contain; 
}





.titler{
    position: relative;
    width: 100%; 
    margin: auto;
    z-index: -1; /* this is like this because it used to cover up the icons on the side. */
}

.big-title {
    text-align: center;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 60px;
}

.bg-image {
    position: absolute;
    margin:auto;
    width: 100%;
    min-height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2; /* Adjust the opacity */
    z-index: -1; /* Keep it behind other content */
}



/* home page stuff */

.top-display {
    width: 95%;
    /* this is bc the imagery gives the appeance of an offset if it's truly centered */
    display: flex;
}


.name-header {
    font-size: 50px;
    font-weight: bold;
}

.header-left {  
    text-align: center;
    width: 50%;
}

.header-right {
    width: 50%;
    padding: 10px;
}

.header-menu{
    
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    margin-top: 50px;

    gap: 20px;
}

.header-menu .box {
    position: relative;
    padding-top: 20px;

    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    background-color: #F2D3D0;
    box-shadow: #373631 5px 5px;
}

.header-menu .box:hover {
    background-color: rgb(202, 176, 173);
}

.header-menu .box img {
    padding-top: 20px;
    height:130px;
}

.header-menu .box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures the link is on top */
}





.icon-stack {
    position:absolute;
    float: left;
    width: 80px;
}

.icon-stack-spread {
    padding: 5px;
    height: 100%;

    img {
        height: 80px;
    }
}

.icon-stack-spread :hover {
    padding-left: 10px;
}





/* construction stuff */

.under-construction {
    
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 100%; 
    padding-bottom: 0px; 
    padding-top:1%;
}

@media (max-width: 480px) {
    .under-construction {
        height: 200vh;
    }
}


/* unused */
.video-insert {

    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

/* Portfolio page stuff */

.split {
    width: 50%;
    text-align: left;
    

    padding-top: 10px;

    .toptitle {
        text-align: center;
        font-size: 24px; 
        font-weight: bold;
    }

    .fav {
        list-style-type: "⭐ ";
    }

    ul {
        margin-top: 5px;
    }
    li {
        margin-top: 3px;
        font-weight: 900;
        
    }
    i {
        font-weight: 100;
    }
}

.floatsplitleft{
    float:left;
}

.floatsplitright {
    float:right;
}


figure {
    flex-flow: column;
    padding: 5px;
    margin: auto;
    text-align: center;

}

figcaption {
    padding-top: 8px;
    font: italic smaller sans-serif;
    overflow: hidden;
    text-align: center;
}

.cornernav {
    position: absolute;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url("images/bowie-icon.png");
    background-size: cover;

    
}



/* Beyond stuff */

.centered {
    margin:auto;
    width: 100%;
    text-align:  center;
}

.beyond-list-wrapper {
    width: 80%;
    margin: auto;
    border-style: outset;
    border-width: 5px;
    border-radius: 50px;
}
.beyond-list {

    font-size: xx-large;


}

.beyond-list li {
    list-style-type: "";
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;

    align-items: center; /* Align vertical */
    img {
        height: 80px;
        padding-right: 30px;
    }
}

.beyond-list :hover {
    text-shadow: 2px 2px rgb(168, 168, 168);

}


/* BowAI stuff */

.response-display {
    margin-left: 5px;
    margin-right: 5px;
    margin:auto;

    background-color: #FBF5E7;
    
    margin-bottom: 10px;
    height: 300px;
    width: 100%;

    border-style: solid;
    border-width: 3px;
    
    border-radius: 30px;

    padding: 15px;
    padding-left: 20px;
    font-size: 20px;
}

.input-display {
    
    margin-left: 5px;
    margin-right: 5px;

    background-color: #ede7db;
    
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;

    border-style: solid;
    border-width: 3px;
    
    border-radius: 30px;
    
    padding: 15px;

    margin-top: 20px;
    font-size: 20px;
}

.input-display textarea {
    width: 100%;
    height: 86px;
    min-height: 26px;
    max-height: 128px;
    

    max-width: 100%;
    min-width: 100%;


    padding-left: 5px;

    background: transparent;
    font-family: inter;
    font-size: 20px;

    border-width: 0;
    outline: none;
    box-shadow: none;
}


/* IMMYS */
/* proj */
.constantmenu {
    max-width: 450px;
}


.astromech {
    max-width: 250px;
}


.sje  {
    max-width: 450px;
}


.soundbo {
    max-width: 450px;
}

/* hobb */
.pugetselfie {
    max-height: 410px;
}

.ccec22 {
    max-height: 300px;
}

.mcwasteland {
    max-height: 230px;
}



@media (max-width: 1200px) {
    .name-header {
        font-size: 43px;
    }

}

@media (max-width: 480px) {
    
    
    .img-gallery{
        display: block;
        justify-content: none;
        height: auto;

    }

    .img-gallery img{
        width: 100%;
        margin-bottom: 30px;
    }
    

    .beyond-body {
        height: 200vh;
        width: 100wh;
    }

    .pp-main{
        font-size: 40px;
        padding-bottom: 30px;
    }


    .pp-title{
        font-size: 70px;
        margin-bottom: 10px;
        max-height: none;
        height: auto;
    }

    .pp-main .righty {
        float: none;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .pp-main .lefty {
        float:none;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .pp-main .immy {
        max-width: 100%;
        max-height: none;
    }

    figcaption {
        margin-top: 20px;
    }

    .name-header{
        font-size: 50px;
    }
    .big-title{
        font-size: 120px;
        margin-bottom: 30px;
    }

    .split .toptitle {
        font-size: 50px;
        padding: 10px;
    }

    .split{
        width: 100%;
    }

    .floatsplitleft{
        float:none;
    }

    .floatsplitright{
        float:none;
    }
    

    .project-github-icon {
        display: none;
    }
    
    .project-github-icon img {
        height: 80px;
        width: 80px;
        padding-right: 20px;
        
    }

    .under-construction {
        font-size: 60px;
    }

    .minifooter {
        font-size: 30px; 
    }

    .footer a {
        font-size:35px;
    }

}